In [53]:
import pandas as pd
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import RobustScaler, LabelEncoder

In [54]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.width', 500)

In [55]:
df = pd.read_csv("gender_classification_v7.csv")

In [56]:
df.head(10)

   long_hair  forehead_width_cm  forehead_height_cm  nose_wide  nose_long  lips_thin  distance_nose_to_lip_long  gender
0          1             11.800               6.100          1          0          1                          1    Male
1          0             14.000               5.400          0          0          1                          0  Female
2          0             11.800               6.300          1          1          1                          1    Male
3          0             14.400               6.100          0          1          1                          1    Male
4          1             13.500               5.900          0          0          0                          0  Female
5          1             13.000               6.800          1          1          1                          1    Male
6          1             15.300               6.200          1          1          1                          0    Male
7          0             13.000               5.200          0          0          0                          0  Female
8          1             11.900               5.400          1          0          1                          1  Female
9          1             12.100               5.400          0          0          0                          0  Female

In [57]:
df.isnull().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [58]:
df.shape

(5001, 8)

✅long_hair => categorical column <br/>
✅forehead_width_cm => continuous column <br/>
✅forehead_height_cm => continuous column <br/>
✅nose_wide => categorical column <br/>
✅nose_long => categorical column <br/>
✅lips_thin => categorical column <br/>
✅distance_nose_to_long => categorical column <br/>

In [63]:
from sklearn.utils.validation import column_or_1d
df1 = df
cat_cols = ['long_hair', 'nose_wide', 'nose_long', 'lips_thin', 'distance_nose_to_lip_long']
con_cols = ['forehead_width_cm', 'forehead_height_cm']

df1 = pd.get_dummies(df1, columns=cat_cols, drop_first=True)
label_encoder = LabelEncoder() 

X = df1.drop(['gender'], axis=1)
y = label_encoder.fit_transform(df1[['gender']].values)
y = column_or_1d(y, warn=True)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [64]:
model = LogisticRegression()
model.fit(X, y.ravel())

LogisticRegression()

In [65]:
model.score(X, y)

0.9686062787442512

In [66]:
expected = y
predicted = model.predict(X)

print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

              precision    recall  f1-score   support

           0       0.97      0.97      0.97      2501
           1       0.97      0.97      0.97      2500

    accuracy                           0.97      5001
   macro avg       0.97      0.97      0.97      5001
weighted avg       0.97      0.97      0.97      5001

[[2422   79]
 [  78 2422]]